pydantic-ai
pydantic
fastapi[standard]
pydantic-ai-slim[tavily]
markdown-pdf
markdown
slack-sdk
certifi
sqlmodel
alembic
python-dotenv
pwdlib[argon2]
pytest
httpx
websockets
celery
celery[redis]
redis
pymongo
opensearch-py
sentence-transformers
opensearch-py 
langchain-community
langchain-docling
langchain-huggingface
pypdf